// Datatable Pagination
.dataTables_paginate {
	float: right;
	margin-bottom: 30px;

	a {
		position: relative;
		float: left; // Collapse white-space
		padding: 6px 12px;
		line-height: 1.42857143;
		text-decoration: none;
		color: #337ab7;
		background-color: #fff;
		border: 1px solid #ddd;
		margin-left: -1px;

		&:hover,
		&:focus {
			z-index: 3;
			color: #fff;
			background-color: #337ab7;
			border-color: #337ab7;
		}
	}

	.current {
		&,
		&:hover,
		&:focus {
			z-index: 2;
			color: #fff;
			background-color: #337ab7;
			border-color: #337ab7;
			cursor: default;
		}
	}
}

.dataTables_info,
.dataTables_length,
.dataTables_filter {
	display: none;
}

#dialog {
	width: 400px;
	height: 200px;
	background: #eee;
	position: absolute;
	left: 40px;
	top: 40px;
	z-index: 1000000;
	text-align: center;
	padding: 25px;
	display: none;
}

#gallery {
	width: 600px;
	height: 600px;
	background: #222;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2000000;
	text-align: center;
	padding: 25px;
	display: none;
}

.photo-upload {
	.dz-preview {
		/*display: none;*/
	}
}

tr.selected {
	background-color: #5cb85c !important;
	color: #fff !important;

	&:hover {
		background-color: lighten(#5cb85c, 5%) !important;
	}
}

.select-row {
	cursor: pointer;
}