// Variables

$grayDarker: lighten(#000, 13.5%);
$grayDark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$grayLight: lighten(#000, 60%);
$grayLighter: lighten(#000, 93.5%);
$grayLightest: lighten(#000, 97.25%);
$brandPrimary: #428bca;
$brandSuccess: #5cb85c;
$brandInfo: #5bc0de;
$brandWarning: #f0ad4e;
$brandDanger: #d9534f;

